@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 13px;
  margin: 0;
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-family: 'Abril Fatface';
  margin-bottom: 20px;
}

button {
  border: none;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  padding: 10px 0;
  background: #1B47DB;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 #CFDFFF, 0 6px 20px 0 #CFDFFF;
  font-weight: 700;
  transform: perspective(1px) translateZ(0);
}

button:hover {
  background: #2B57EB;
}

.login-page {
  background: url(./assets/login-background.svg) no-repeat center center fixed;
  background-size: cover;
  padding-top: 100px;
  height: 100vh;
}

.login {
  background: #fff;
  margin: auto;
  display: flex;
  max-width: 760px;
  width: calc(100% - 20px);
  height: 440px;
  border-radius: 6px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 70px;
}

.login .form-wrapper {
  position: relative;
}

label {
  color: #c9d4d8;
  font-weight: bold;
}

.form-wrapper label {
  margin: 0;
  color: #BFCDD8;
}

.form-wrapper #username {
  border-bottom: 2px solid #E6ECEE !important;
  border-radius: 0 !important;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0;
}

@media (max-width: 760px) {
  .login-image-column {
    display: none;
  }
  .login-form-column {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login form {
    width: 100%;
  }
}

.form-wrapper i {
  position: absolute;
  bottom: 9px;
  right: 0;
}

nav {
  flex: 1;
  height: 50px;
  line-height: 50px;
  background: #fff;
  color: black;
  font-size: 14px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.chat {
  flex: 1;
  padding-top: 40px;
  background-color: #204CD2;
  background-image: url(./assets/chat-background.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
}

.empty-chat-holder {
  width: 100%;
  height: 250px;
  margin-top: 70px;
}

.empty-chat {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.empty-chat h2 {
  color: #1546dc;
  font-family: 'Abril Fatface';
  padding: 0;
  font-size: 2rem;
  margin: 25px auto 15px;
}

.empty-chat-holder img {
  width: 100%;
  height: 100%;
}

.avatar {
  width: 37px;
  height: 37px;
}

.container {
  margin: auto;
  max-width: 800px;
  width: calc(100% - 20px);
  height: 588px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  background: #f8f9fb;
  padding: 0 !important;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  box-sizing: border-box;
  border: 1px solid #BFCDD8;
}

.msg-header {
  width: 100%;
  height: 70px;
  border-bottom: none;
  display: inline-block;
  background-color: #fff;
  border-radius: 7px 7px 0 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.active {
  font-family: 'Roboto';
  width: 120px;
  float: left;
}

.active h5 {
  padding: 10px;
  color: #444;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.active h6 {
  font-size: 10px;
  line-height: 2px;
  color: #fff;
}

.header-icons {
  width: 120px;
  float: right;
  margin-right: 10px;
}

.header-icons span {
  line-height: 70px;
  cursor: pointer;
  font-size: 14px;
}

.header-icons .fa {
  cursor: pointer;
  margin: 10px;
}

.msg-page {
  height: 516px;
  overflow-y: auto;
  padding-bottom: 50px;
}

.received-chats {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
}

.received-chats-img {
  display: inline-block;
  display: flex;
  align-items: center;
}

.received-msg {
  display: inline-block;
  padding: 0;
  vertical-align: top;
}

.received-msg-inbox {
  width: 57%;
}

.received-msg-inbox p {
  font-family: 'Roboto';
  background: #1546dc none repeat scroll 0 0;
  border-radius: 7px;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 12px;
  position: relative;
  width: 253px;
  min-height: 61px;
  left: 30px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.received-msg-inbox p span {
  color: #6889fd;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
}

.received-msg-inbox p:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #1546dc;
  border-left: 0;
  margin-top: -10px;
  margin-left: -10px;
  transform: skew(0, 30deg);
}

#triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
}

.time {
  color: #777;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.outgoing-chats {
  overflow: hidden;
  margin: 26px 20px;
  display: flex;
  justify-content: flex-end;
}

.outgoing-chats-msg p {
  font-family: 'Roboto';
  background: #ffffff none repeat scroll 0 0;
  color: #646464;
  font-size: 16px;
  margin: 0;
  padding: 12px;
  width: 253px;
  min-height: 61px;
  position: relative;
  border-radius: 7px;
  display: flex;
  align-items: center;
  line-height: 1.2;
}

.outgoing-chats-msg p::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #ffffff;
  border-right: 0;
  margin-top: -10px;
  margin-right: -10px;
  transform: skew(0, -30deg);
}

.outgoing-chats-img {
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin-left: 20px;
}

.msg-bottom {
  position: relative;
  height: 60px;
  background-color: #007bff;
  border-radius: 100px 100px 0 0;
}

.input-group {
  margin-right: 20px;
  border-top: 1px solid #DEE6EB;
  width: 100% !important;
  background-color: #fff;
  height: 100%;
  border-radius: 0 0 7px 7px
}

.input-group input {
  height: 100%;
  background: #fff;
}

.input-group ::placeholder {
  color: #C0C0C0 !important;
}

.form-control {
  border: none !important;
  border-radius: 20px !important;
}

.input-group-text {
  background: transparent !important;
  border: none !important;
}

.input-group .fa {
  color: #007bff;
  float: right;
}

.bottom-icons {
  float: left;
  margin-top: 17px;
  width: 30% !important;
  margin-left: 22px;
}

.bottom-icons .fa {
  color: #fff;
  padding: 5px;
}

.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
  border-radius: 20px;
}

.msg-bottom {
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
}

.message-form {
  height: 100%;
}

.chat-page {
  position: relative;
}

.logo {
  margin-right: 7px;
}

.nav-right-section {
  display: flex;
  align-items: center;
}

nav .spinner {
  margin-left: 15px;
  width: 64px;
}

.sending-message-spinner {
  margin-right: 20px;
}

.message-input {
  padding: 6px 20px;
}

.empty-chat-sub-title {
  text-align: center;
  color: #555;
  font-size: 18px;
}

.loading-messages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.loading-text {
  font-family: 'Roboto';
  color: #1546dc;
  font-size: 25px;
  margin-top: 20px;
}

.loading-messages-container .spinner svg {
  stroke: #CCD7F0;
}

@media (max-width: 450px) {
  .login-container {
    padding: 40px;
  }
  .outgoing-chats-img {
    display: none;
  }
  .received-chats-img {
    display: none;
  }
  .received-msg-inbox p {
    left: 0;
    width: 100%;
  }
  .received-msg-inbox p:after {
    display: none;
  }
  .received-msg-inbox {
    width: 100%;
  }
  .received-msg {
    width: 100%;
  }
  .outgoing-chats-msg {
    width: 100%;
  }
  .outgoing-chats-msg p {
    width: 100%;
  }
  .outgoing-chats-msg p::before {
    display: none;
  }
  .welcome-message {
    display: none;
  }
}

.booker {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}